	<div class="box">
	<p><strong>ジャンル検索</strong></p>

    <% genres.each do |genre| %>
    <table class="table table-striped table-bordered">
       <td><%= link_to genre.name, items_path(genre_id: genre.id) %></td>
	</table>
	<% end %>
	</div>