<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h4>管理者画面</h4>
<br>
			<span style="font-size: 30px">
				<h3>本日の注文件数
			　　　　  <%= link_to admins_orders_path, class: "btn-link" do %>
				    <%= @orders.count %>件
	   			    <% end %>
	   			</h3>
	 		</span>
	 	</div>
	</div>
</div>